root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,cpp,h,hpp,m,mm,vert,frag}]
indent_style = space
indent_size = 4

[CMakeLists.txt, *.cmake]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
