[submodule "third/glfw"]
	path = third/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third/enet"]
	path = third/enet
	url = https://github.com/lsalzman/enet.git
[submodule "third/cimgui"]
	path = third/cimgui
	url = https://github.com/cimgui/cimgui.git
